.who-are-we p {
    color: #777 !important;
}

.who-are-we .whyfp {
    font-size: 16px;
    padding-left: 20px;
}

.who-are-we .whyfp div {
    color: #666;
    padding: 0 0 15px 0;
}

.fp-icon {
    display: inline-block;
    vertical-align: middle;
    color: #0053fb;
    /*color: #50a3eb;*/
    font-size: 21pt;
    width: 35px;
}

#upcoming-events {}

.event-item {
    width: 250px;
    height: 200px;
}

.event-item img {
    width: 100%;
    height: 100%;
}

.pad-left{
    margin-left: 25px;
}
