.people {
    text-align: center !important;
}

.people h2 {
    text-align: left;
}

.people ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

.people li {
    padding-right: 8px;
    display: inline-block;
}

.person-avatar {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

.person-name {
    padding-top: 18px;
    color: #000 !important;
}

.people p {
    padding-top: 18px;
    color: #666;
}
