<ul>
  <nav class="actions">
    <ul>
      $if(paper)$
        <li><a href="$paper$"><i class="fa fa-download"></i></a></li>
      $endif$
      <li><a href="$bibtex$"><i class="fa fa-book"></i></a></li>
    </ul>
  </nav>

  <div itemscope itemtype="http://schema.org/ScholarlyArticle" class="citation">
    <ul itemscope itemtype="http://schema.org/Person" itemprop="author" class="author">
      $for(authors)$
        <li><span itemprop="familyName" class="last">$authorlast$</span>,
            <span itemprop="givenName" class="first">$authorfirst$</span></li>
      $endfor$
    </ul>

    $if(title)$
      <span itemprop="name" class="title">$title$</span>
    $endif$

    $if(booktitle)$
      <span itemscope itemtype="http://schema.org/Series" itemprop="isPartOf">
        <span itemprop="name" class="booktitle">$booktitle$</span>
      </span>
    $endif$

    $if(address)$
      <span class="address">$address$</span>
    $endif$

    $if(editorlast)$
      <span itemscope itemtype="http://schema.org/Person" itemprop="editor" class="editor">
        <span itemprop="familyName" class="last">$editorlast$</span>
        <span itemprop="givenName" class="first">$editorfirst$</span>
      </span>
    $endif$

    $if(volume)$
      <span class="volume">$volume$</span>
    $endif$

    $if(series)$
      <span class="series">$series$</span>
    $endif$

    $if(edition)$
      <span class="edition">$edition$</span>
    $endif$

    $if(organization)$
      <span itemprop="publisher" class="organization">$organization$</span>
    $endif$

    $if(publisher)$
      <span itemprop="publisher" class="publisher">$publisher$</span>
    $endif$

    $if(pages)$
      <span itemprop="pagination" class="pages">$pages$</span>
    $endif$

    $if(howpublished)$
      <span class="howpublished">$howpublished$</span>
    $endif$

    $if(school)$
      <span itemprop="organization" class="school">$school$</span>
    $endif$

    $if(year)$
      <time itemprop="datePublished" class="year">$year$</time>
    $endif$

    $if(note)$
      <span class="note">$note$</span>
    $endif$
  </div>
</ul>
